/* Main colors and fonts */
.greenlightCol {
    color: #81bd42;
}

.greenlightBac {
    background-color: #81bd42;
}

.greenDarkCol {
    color: #48701c;
}

.greenDarkBac {
    background-color: #48701c;
}

.clearBrownCol {
    color: #bd4f2f !important;
}

.darkBrownCol {
    color: #703322 !important;
}

.bladeBrownBac {
    background-color: #f1e6d9 !important;
}

.whiteCol {
    color: #ffffff;
}

.whitebac {
    background-color: #ffffff;
}

.black {
    color: #272727;
}

.merriFont {
    font-family: 'Merriweather', Arial, Verdana, Sans-serif !important;
}

.dancingFont {
    font-family: 'Dancing Script', Arial, Verdana, Sans-serif !important;
}

.boxShadow {
    box-shadow: 6px 6px 14px rgba(39, 39, 39, 0.5);
}

/* Main styles */
h2 {
    font-size: 48px !important;
    font-weight: bold !important;
}

h5 {
    font-weight: bold !important;
}

a {
    text-decoration: none !important;
    font-size: 0.9em !important;
}

a:hover {
    color: #48701c !important;
}

p,
li,
label,
[placeholder] {
    font-size: 0.9em !important;
}

.button {
    width: 120px !important;
    height: auto !important;
    padding: 8px !important;
    font-size: 0.9em !important;
    border: 2px solid #81bd42 !important;
    border-radius: 10px !important;
    box-shadow: 2px 2px 8px rgba(39, 39, 39, 0.5) !important;
}

/* ------------------------------Main header -----------------------------------*/
/* Logo */
h1 {
    font-size: 28px !important;
}

.logo {
    width: auto !important;
    height: auto;
    padding: 10px;
    border-radius: 5px !important;
}

/* ----------------------------------Navbar------------------------------------- */
.navbar .nav-item i {
    font-size: 1.1em;
}

.navbar .nav-item a:hover {
    color: #bd4f2f !important;
}

.navbar .nav-item a:focus {
    color: #bd4f2f !important;
    border-bottom: 3px solid #bd4f2f !important;
}

/* -----------------------------Inscription section------------------------------------ */
#inscriptionSection form {
    border-radius: 5px;
}

#inscriptionSection form label {
    font-weight: 700;
}

#inscriptionSection form input {
    border: 2px solid #703322;
}

/* -----------------------------footer------------------------------------ */
footer .notices {
    height: 130px;
}

footer li {
    list-style-type: none;
}

footer li .bi {
    font-size: 2em;
    color: #81bd42;
}

footer li .bi:hover {
    color: #48701c;
}