/* Main colors and fonts */
.greenlightCol {
    color: #81bd42 !important;
}

.greenlightBac {
    background-color: #81bd42 !important;
}

.greenDarkCol {
    color: #48701c;
}

.greenDarkBac {
    background-color: #48701c;
}

.clearBrownCol {
    color: #bd4f2f !important;
}

.darkBrownCol {
    color: #703322 !important;
}

.bladeBrownBac {
    background-color: #f1e6d9 !important;
}

.whiteCol {
    color: #ffffff;
}

.whitebac {
    background-color: #ffffff;
}

.black {
    color: #272727;
}

.merriFont {
    font-family: 'Merriweather', Arial, Verdana, Sans-serif !important;
}

.dancingFont {
    font-family: 'Dancing Script', Arial, Verdana, Sans-serif !important;
}

.boxShadow {
    box-shadow: 6px 6px 14px rgba(39, 39, 39, 0.5);
}

.button {
    width: 120px !important;
    height: auto !important;
    padding: 8px !important;
    font-size: 0.9em !important;
    border: 2px solid #81bd42 !important;
    border-radius: 10px !important;
}

.blurButton {
    filter: blur(3px);
}

/* Main styles */
h1 {
    font-size: 32px !important;
}

h2 {
    font-size: 48px !important;
    font-weight: bold !important;
}

h4 {
    font-size: 20px !important;
}

h5 {
    font-weight: bold !important;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
    font-size: 0.9em !important;
}

a:hover {
    color: #48701c !important;
}

p,
li,
span,
label,
[placeholder] {
    font-size: 0.9em !important;
}

/* ------------------------------Main header -----------------------------------*/
/* Logo */
.logo h1 {
    font-size: 28px !important;
}

.logo,
.logoResponsive {
    width: auto !important;
    height: auto;
    padding: 10px;
    border-radius: 5px !important;
}

/* ----------------------------------Navbar------------------------------------- */
.navbar .logoResponsive {
    display: none !important;
}

.navbar .nav-item i {
    font-size: 1.1em;
}

.navbar .nav-item a:hover {
    color: #bd4f2f !important;
}

.navbar .nav-item a:focus {
    color: #bd4f2f !important;
    border-bottom: 3px solid #bd4f2f !important;
}

.navbar .connectionResponsive,
.navbar .inscriptionResponsive {
    display: none;
}

/* -----------------------------Carousel section------------------------------------ */
/* Carousel */
.carousel-shadow {
    border-radius: 10px !important;
}

.carousel-inner {
    border-radius: 10px !important;
}

.carousel-indicators {
    bottom: -75px !important;
}

.carousel-indicators [data-bs-target] {
    width: 25px !important;
    height: 25px !important;
    margin-right: 6px !important;
    margin-left: 6px !important;
    border-radius: 50% !important;
    background-color: rgba(129, 189, 66, 0.4) !important;
    border: 3px solid #81bd42 !important;
}

.carousel-indicators .active {
    background-color: #81bd42 !important;
    opacity: 1 !important;
}

/* -----------------------------Frame section------------------------------------ */
#frameSection {
    margin-bottom: 180px;
}

#frameSection .imageBox {
    position: relative;
}

#frameSection .childsFrame {
    z-index: 2;
}

#frameSection .childsFrame .frameText {
    position: absolute;
    top: 355px;
    left: 0px;
    width: 80%;
    height: 128px;
    z-index: 3;
}

#frameSection .childsFrame .frameText p {
    font-size: 36px !important;
    font-weight: 700;
    line-height: 35px;
}

#frameSection .handsFrame {
    position: absolute;
    top: 105px;
    left: 395px;
}

#frameSection .handsFrame,
#frameSection .childsFrame,
#frameSection .handsFrame img,
#frameSection .childsFrame img {
    border-radius: 10px !important;
}

/* -----------------------------Contact section------------------------------------ */
#contactSection form .formBorder,
#contactSection form input {
    border: 2px solid #703322;
}

#contactSection form label {
    font-weight: 700;
}

#contactSection form textarea {
    height: 180px;
    border: 2px solid #703322;
}

/* ----------------------------- footer ------------------------------------ */
footer .notices {
    height: 130px;
}

footer li {
    list-style-type: none;
}

footer li .bi {
    font-size: 2em;
    color: #81bd42;
}

footer li .bi:hover {
    color: #48701c;
}

/* ---------------------------- Guilde page and Discover appli page main styles -------------------------------- */
#guildeCommunity img,
#getInvolved img,
#simpleUtilisation img,
#rechargeSection img {
    border-radius: 5px;
}

#simpleUtilisation .imgResponsive,
#rechargeSection .imgResponsive {
    display: none;
}

#getInvolved {
    margin-bottom: 60px;
}

/* ---------------------------------------- Discover appli page -------------------------------- */
#sharePhoto {
    height: 1600px;
}

/* Pell mell */
#sharePhoto .pellMell {
    position: relative;
    width: 100%;
    height: 830px;
    z-index: 0;
}

#sharePhoto .pellMell li:nth-child(4),
#sharePhoto .pellMell li:nth-child(5),
#sharePhoto .pellMell li:nth-child(8) {
    z-index: 1;
}

#sharePhoto .pellMell li:nth-child(1),
#sharePhoto .pellMell li:nth-child(2),
#sharePhoto .pellMell li:nth-child(3),
#sharePhoto .pellMell li:nth-child(7),
#sharePhoto .pellMell li:nth-child(9) {
    z-index: 2;
}

#sharePhoto .pellMell li:nth-child(6) {
    z-index: 3;
}


#sharePhoto li {
    position: absolute;
    transform-origin: center;
    transition-delay: 0;
    transition: transform 2s;
}

#sharePhoto li .image3,
#sharePhoto li .image6 {
    max-width: 275px;
}

/* ------------------------------------------ Inscription and connection pages ------------------------------- */
/* Inscription and connection form sections */
#inscriptionSection form,
#connectionSection form {
    border-radius: 5px;
}

#inscriptionSection form label,
#connectionSection form label {
    font-weight: 700;
}

#inscriptionSection form input,
#connectionSection form input {
    border: 2px solid #703322;
}

#inscriptionSection form button,
#connectionSection form button {
    height: 35px !important;
    font-size: 0.9em !important;
    border: 2px solid #81bd42 !important;
    border-radius: 10px !important;
    box-shadow: 2px 2px 8px rgba(39, 39, 39, 0.5) !important;
}

#inscriptionSection form button:hover,
#connectionSection form button:hover {
    background-color: #ffffff !important;
    color: #48701c !important;
    font-weight: 900;
    box-shadow: 4px 4px 16px rgba(39, 39, 39, 0.5) !important;
}

/* ------------------------------------------- Appli list page ---------------------------------------------- */
#appliSection .container-fluid {
    display: grid;
    grid-template-columns: 6fr 5fr;
}

#appliSection .item {
    display: flex;
    margin: 0 20px 20px 0;
    border: 1px solid rgba(39, 39, 39, 0.2);
    cursor: pointer;
}

#appliSection .item:hover {
    box-shadow: 6px 6px 14px rgba(39, 39, 39, 0.5);
}

#appliSection .itemText {
    padding: 10px;
}

#appliSection .item,
#appliSection .image,
#appliSection .itemText {
    border-radius: 5px;
}

#appliSection .image img {
    border-radius: 5px 0 0 5px;
}

#appliSection h4 {
    margin-bottom: 5px;
}

#appliSection span a {
    display: none;
}

#appliSection .map {
    position: sticky !important;
    top: 75.42px !important;
    right: 0 !important;
    height: 100vh !important;
}

.leaflet-popup-content-wrapper {
    width: 250px;
}

/* ------------------------------------------- hiking page ---------------------------------------------- */
#hikingSection .container-fluid {
    display: grid;
    grid-template-columns: 7fr 4fr;
}

#hikingSection .map {
    position: sticky !important;
    top: 75.42px !important;
    right: 0 !important;
    height: 100vh !important;
}

#hikingSection .itemText P {
    text-align: justify;
}

#hikingSection .fa {
    font-size: 1.5em;
}

#hikingSection li span {
    font-size: 1em !important;
}

/* ----------------------------- Error page ------------------------------------ */
#error button {
    width: auto;
    height: auto;
    padding: 8px !important;
    font-size: 0.9em !important;
    border: 2px solid #81bd42 !important;
    border-radius: 10px !important;
}

/* ----------------------------- Media queries ------------------------------------ */
@media all and (min-width: 1400px) {

    /* Frame section */
    #frameSection .childsFrame .frameText {
        left: -15px;
        width: 70%;
    }
}

@media all and (max-width: 1200px) {

    /* Frame section */
    #frameSection .childsFrame .frameText {
        top: 395px;
        left: 14px;
        width: 80%;
    }

    /* Guilde page and Discover appli page */
    #simpleUtilisation .imgResponsive,
    #rechargeSection .imgResponsive {
        display: initial;
    }
}

@media all and (max-width: 992px) {

    /* Main styles */
    h2 {
        font-size: 42px !important;
    }

    /* Main header */
    header {
        display: none;
    }

    /* Navbar */
    .navbar .logoResponsive {
        display: initial !important;
    }

    .navbar .logoResponsive h1 {
        font-size: 22px !important;
    }

    .navbar .connectionResponsive,
    .navbar .inscriptionResponsive {
        display: initial;
    }

    /* Carousel section */
    .carousel-indicators {
        bottom: -65px !important;
    }

    .carousel-indicators [data-bs-target] {
        width: 20px !important;
        height: 20px !important;
    }

    /* Frame section */
    #frameSection .childsFrame .frameText {
        top: 610px;
        left: 58px;
        width: 80%;
    }

    #frameSection .childsFrame .frameText p {
        /*font-size: 40px !important;*/
        line-height: 45px;
    }

    #frameSection .handsFrame {
        display: none;
    }

    /* Discover appli page */
    /* Pell mell */
    #sharePhoto {
        height: 1530px;
    }

    #sharePhoto .pellmell {
        position: initial;
    }

    #sharePhoto li {
        position: initial;
    }

    #sharePhoto li img {
        width: 100%;
        border-radius: 5px;
    }

    #sharePhoto .pellMell li:nth-child(2),
    #sharePhoto .pellMell li:nth-child(3),
    #sharePhoto .pellMell li:nth-child(4),
    #sharePhoto .pellMell li:nth-child(5),
    #sharePhoto .pellMell li:nth-child(6),
    #sharePhoto .pellMell li:nth-child(7),
    #sharePhoto .pellMell li:nth-child(9) {
        display: none;
    }

    /* Appli list page */
    #appliSection .container-fluid {
        display: initial;
    }

    #appliSection .item {
        flex-direction: column;
        margin-left: 20px;
    }

    #appliSection span a {
        display: initial;
    }

    /* hiking page */
    #hikingSection .container-fluid {
        display: initial;
    }
}

@media all and (max-width: 768px) {

    /* Main styles */
    h2 {
        font-size: 38px !important;
    }

    p,
    a,
    li,
    span,
    label,
    [placeholder] {
        font-size: 0.85em !important;
    }

    /* Carousel section */
    .carousel-indicators {
        bottom: -55px !important;
    }

    .carousel-indicators [data-bs-target] {
        width: 15px !important;
        height: 15px !important;
    }

    /* Frame section */
    #frameSection .childsFrame .frameText {
        top: 443px;
        left: 23px;
        width: 90%;
    }

    #frameSection .childsFrame .frameText p {
        font-size: 36px !important;
        line-height: 38px;
    }

    /* Discover appli page */
    /* Pell mell */
    #sharePhoto {
        height: 1420px;
    }

    #sharePhoto .pellMell {
        height: 660px;
    }

    /* hiking page */
    #hikingSection li span {
        font-size: 0.85em !important;
    }

    footer .notices {
        height: 195px;
    }
}

@media all and (max-width: 576px) {

    /* Main styles */
    h2 {
        font-size: 26px !important;
    }

    [placeholder] {
        font-size: 0.7em !important;
    }

    /* Navbar */
    .navbar .logoResponsive h1 {
        font-size: 18px !important;
    }

    /* Carousel section */
    .carousel-indicators [data-bs-target] {
        width: 12px !important;
        height: 12px !important;
    }

    /* Frame section */
    #frameSection .childsFrame .frameText {
        display: none;
    }

    /* Discover appli page */
    /* Pell mell */
    #sharePhoto {
        height: 1300px;
    }

    #sharePhoto .pellMell {
        height: 300px;
    }

    /* footer */
    footer .notices {
        height: 235px;
    }
}