/* Main colors and fonts */
.greenlightCol {
    color: #81bd42;
}

.greenlightBac {
    background-color: #81bd42;
}

.greenDarkCol {
    color: #48701c;
}

.greenDarkBac {
    background-color: #48701c;
}

.clearBrownCol {
    color: #bd4f2f !important;
}

.darkBrownCol {
    color: #703322 !important;
}

.bladeBrownBac {
    background-color: #f1e6d9;
}

.whiteCol {
    color: #ffffff;
}

.whitebac {
    background-color: #ffffff;
}

.black {
    color: #272727;
}

.merriFont {
    font-family:'Merriweather', Arial, Verdana, Sans-serif !important;
}

.dancingFont {
    font-family:'Dancing Script', Arial, Verdana, Sans-serif !important;
}

/* Main styles */
h2 {
    font-size: 48px !important;
    font-weight: bold !important;
}

h5 {
    font-weight: bold !important;
}

a {
    color: #81bd42 !important;
    text-decoration: none !important;
    font-size: 0.9em !important;
}

a:hover {
    color: #48701c !important;
}

p {
    font-size: 0.9em;
}

.button {
    width: 120px;
    height: auto;
    padding: 8px;
    font-size: 0.9em !important;
    border: 2px solid #81bd42;
    border-radius: 10px !important;
    box-shadow: 2px 2px 8px rgba(39, 39, 39, 0.5);
}






/* ------------------------------Main header -----------------------------------*/
    /* Logo */
    h1 {
        font-size: 28px !important;
    }
    
    .logo {
        width: auto !important;
        height: auto;
        padding: 10px;
        border-radius: 5px !important;
    }
    
/* ----------------------------------Navbar------------------------------------- */
.navbar .nav-item a:hover {
    color: #bd4f2f !important;
}

.navbar .nav-item a:focus {
    color: #bd4f2f !important;
    border-bottom: 3px solid #bd4f2f !important;
}

/* -----------------------------First section------------------------------------ */
    /* Carousel */
.carousel-shadow {
    box-shadow: 6px 6px 14px rgba(39, 39, 39, 0.5);
    border-radius: 20px;
}

.carousel-inner {
    border-radius: 10px !important;
}

.carousel-indicators {
    bottom: -75px !important;
}

.carousel-indicators [data-bs-target] {
    width: 25px !important;
    height: 25px !important;
    margin-right: 6px !important;
    margin-left: 6px !important;
    border-radius: 50% !important;
    background-color: rgba(129, 189, 66, 0.4) !important;
    border: 3px solid #81bd42 !important;
}

.carousel-indicators .active {
    background-color: #81bd42 !important;
    opacity: 1 !important;
}